.product-card {
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  margin-right: 30px;
  margin-bottom: 15px;
  flex: 0 1 357px;
  display: flex;
  flex-direction: column;
}

.product-card__head {
  height: 473px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.product-card__img {
  width: 100%;
}

.product-card__body {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-card__name {
  margin-bottom: 25px;
  flex-grow: 1;
}

.product-card__price {
  margin-bottom: 25px;
}

.product-card__btn {
  color: #727e86;
  border: 1px solid #727e86;
  border-radius: 5px;
  padding: 12px;
}

.product-card__btn:hover {
  border: 1px solid green;
  color: green;
}