* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1175px;
  padding: 0 20px;
  margin: 0 auto;
  min-height: 50vh;
  font-family: 'Roboto', sans-serif;
}

.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  color: #727e86;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container {

}

.container__title {
  margin-bottom: 55px;
  text-align: center;
  font-size: 30px;
}

.container__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;
}